@use "../themes/duckquill/sass/mods/modern-headings";

main {
    width: 47.5%;
}

.crt pre {
    overflow: hidden;
}

body {
    background-image: var(--bg-overlay), url("/bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
