# Obsidian
*/.obsidian/plugins
*/.obsidian/workspace.json
*/.obsidian/workspace-mobile.json
*/.obsidian/hotkeys.json

# OS
.trash/
.DS_Store

# Node
node_modules
.quartz-cache

# Output
public
private