<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">
  <head>
    <script
      defer
      src="https://umami.mtaha.dev/script.js"
      data-website-id="e1f1dd4f-3c8a-499d-b630-dc203e7db5a3"
    ></script>
    {{- partial "head.html" . -}}
  </head>

  <body>
    <div class="page">
      <header class="page__header">{{- partial "header.html" . -}}</header>

      <section class="page__body">{{- block "main" . }}{{- end }}</section>

      <section class="page__aside">
        <div class="aside__about">{{- partial "about.html" . -}}</div>
        <hr />
        <div class="aside__content">{{- block "aside" . }}{{- end }}</div>
      </section>

      <footer class="page__footer">{{- partial "footer.html" . -}}</footer>
    </div>
  </body>
</html>
